.card {
    border: none;
    box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.card-header {
    background-color: #fff;
}

body {
    /* background-color: #ded6e5; */
    /* background-color: #e5dee7; */
    background-color: #edf2f9;
}